@import "swiper/swiper-bundle.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/swiper-bundle.css";

@font-face {
  font-family: "IranSans";
  src: local("IranSans"),
    url(../public/fonts/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf) format("truetype");
}
* {
  font-family: "IranSans";
}
